.App * {
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.App .top {
  height: 50%;
  top: 0;
}

.App .bottom {
  height: 50%;
  bottom: 0;
}

.App .left {
  width: 50%;
  left: 0;
}
.App .right {
  width: 50%;
  right: 0;
}
.App .red {
  background-color: red;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
